<h1>Listing Products - <%= @products.length %></h1> 

<% if user_signed_in? && current_user.is_admin %>
<%= link_to "Add New Product", new_product_path %><br/><br/>
<% end %>

<table border = 1>
	<thead>
		<tr>
			<th> Id</th>
			<th> Title </th>
			<th> Price </th>
			<th> Description </th>
			<th> Cod Eligible </th>
			<th> In Stock </th>
			<th> Category Id </th>
		</tr>		
	</thead>
	<tbody>
		<% @products.each do |product| %>
			<tr>
				<td> <%= product.id %> </td>
				<td> <%= link_to product.title.capitalize, product_path(product.id) %> </td>
				<td> <%= product.price %> </td>
				<td> <%= product.description.capitalize %> </td>
				<td> <%= product.cod_eligible %> </td>
				<td> <%= product.in_stock %> </td>
				<td> <%= product.category_id %> </td>
			</tr>
		<% end %>	
	</tbody>
</table>

<br/><br/> 



<%= link_to "Back", :back %>

